@{
    var NewsLink = "https://medium.com/@ALISSProgramme";
}

<div class="aliss-header">
    <div class="aliss-grid">
        <div class="aliss-header-component">
            <a id="" href="#about" title="Click here to provide feedback on ALISS.." target="_self" class="a-feedback a-feedback--mobile btn btn--primary hidden--desktop hidden--largedesktop">
                Give fedback
            </a>
            <div class="aliss-header-component-tertiary-menu">
                <a id="" href="https://www.aliss.org/account/login/" title="Click here to login or signup.." target="_blank" class="a-login-mobile hidden--desktop hidden--largedesktop">
                    Login / Signup
                </a>
                <div id="menu" class="navigation-toggle">
                    <p>
                        <i class="fas fa-bars"></i>
                        Navigation
                    </p>
                </div>
            </div>
            <div class="aliss-header-component__logo">
                <a id="" href="/" title="Click here to navigate to the homepage." target="_self" class="">

                    <img id="" src="~/ALISS.THEME/dist/img/aliss-logo.png" alt="ALISS." class=" " />
                </a>
            </div>
            <div id="menu-toggle" class="aliss-header-component__navigation">
                <nav class="aliss-header-component__navigation__secondary">
                    <ul>
                        <li>
                            <a id="" href="https://www.aliss.org/account/login/" title="Click here to login or signup (This will open in a new window)." target="_blank" class="">
                                Login / Signup
                            </a>
                        </li>
                        <li>
                            <a id="" href="https://docs.google.com/forms/d/e/1FAIpQLSeVnsEquAtwdI_9KEayUt5R7khbNPyquZ6UAy82MwInZ2XSyQ/viewform?vc=0&c=0&w=1" title="Click here to provide feedback on ALISS (This will open in a new window)." target="_blank" class="a-feedback btn btn--primary">
                                Give feedback
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="aliss-header-component__navigation__primary">
                    <ul>
                        <li class="aliss-header-component__navigation__primary__item aliss-header-component__navigation__primary__item--active-page">
                            <a id="" href="/" title="Click here to start a new search." target="_self" class="">
                                Search
                            </a>
                        </li>
                        <li class="aliss-header-component__navigation__primary__item">
                            <a id="" href="/Home/about" title="Click here for more information about us." target="_self" class="">
                                About
                            </a>
                        </li>
                           <!--
                        <li class="aliss-header-component__navigation__primary__item">
                            <a id="" href="/Help/index" title="Click here for more information about the Beta version" target="_self" class="">
                                Beta Help
                            </a>
                        </li>
                            -->
                        <li class="aliss-header-component__navigation__primary__item">
                            <a id="" href="@NewsLink" title="Click here to catch up on the latest ALISS news (This will open in a new window)." target="_blank" class="">
                                News
                            </a>
                        </li>
                        <li class="aliss-header-component__navigation__primary__item">
                            <a id="" href="https://www.aliss.org/account/login/" title="Click here to add an organisation." target="_self" class="">
                                Add an organisation
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
