<div class="aliss-footer">
    <div class="aliss-grid">
        <div class="aliss-footer-component">
            <div class="aliss-footer-component__navigation">
                <div id="menu-footer" class="navigation-footer-toggle">
                    <p>Footer navigation <i class="fas fa-chevron-down"></i></p>
                </div>
                <nav id="menu-footer-toggle" class="aliss-footer-component__navigation__list">
                    <ul>
                        <li class="aliss-footer-component__navigation__list__item">
                            <a id="aliss-documentation-terms-and-conditions" href="/Home/terms-and-conditions" title="Click here to view our terms and conditions." target="_self" class="">
                                Terms and conditions
                            </a>
                        </li>
                        <li class="aliss-header-component__navigation__list__item">
                            <a id="aliss-documentation-privacy-policy" href="/Home/privacy-policy" title="Click here to view our privacy policy." target="_self" class="">
                                Privacy policy
                            </a>
                        </li>
                        <li class="aliss-header-component__navigation__list__item">
                            <a id="aliss-documentation-api" href="https://docs.aliss.org/" title="Click here to view our API documentation (This will open in a new window)." target="_blank" class="">
                                API documentation
                            </a>
                        </li>
                        <li class="aliss-header-component__navigation__list__item">
                            <a id="aliss-documentation-data-standards" href="https://www.aliss.org/static/pdf/ALISS_data-standards.fd0549f96cb4.pdf" title="Click here to view our data standards (This will open in a new window)." target="_blank" class="">
                                ALISS data standards
                            </a>

                        </li>
                    </ul>
                </nav>
            </div>
            <div class="aliss-footer-component__contents">
                <p>Health and Social Care Alliance Scotland (the ALLIANCE) Venlaw Building, 349 Bath Street, Glasgow, G2 4AA</p>
                <p><i class="fas fa-copyright"></i> Copyright Health and Social Care Alliance Scotland (the ALLIANCE) 2020. All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>