{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "airbnb"],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "linebreak-style": ["error", "windows"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "@typescript-eslint/indent": ["error", 4],
    "@typescript-eslint/no-var-requires": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
