@* Organisation - Can you improve this listing component *@
<div class="aliss-organism aliss-component-master aliss-content-spacer">
    <div class="aliss-component-master__contents">
        <h2>
            Can you help improve this listing?
        </h2>
        <p>
            If any of the information here is incomplete or inaccurate, please use the button below to provide feedback. Your feedback can help us improve the information provide on this listing.
        </p>
    </div>
    <div class="aliss-component-master__contents aliss-component-master__contents--claim-organisation">
        <div class="aliss-component-master__buttons">
            <a id="" href="mailto:feedback@aliss.org" title="Click here to provide feedback about this listing (This will open in a new window)." target="_blank" class="btn btn btn--primary">
                Improve listing
            </a>
        </div>
    </div>
</div>
@* Organisation - Can you improve this listing component *@
