@section metadata {
    <!-- Meta: SEO -->
    <title>ALISS | About ALISS.</title>
    <meta name="description" content="We believe that people of Scotland should be able to access the information they need to help them live well.">

    <meta property="og:title" content="ALISS | About ALISS.">
    <meta property="og:description" content="We believe that people of Scotland should be able to access the information they need to help them live well.">

    <meta name="twitter:title" content="ALISS | About ALISS.">
    <meta name="twitter:description" content="We believe that people of Scotland should be able to access the information they need to help them live well.">
}
<div id="primarycontent">
    <main>

        @* Page title *@
        <div class="aliss-component-hero-banner">
            <img data-src="../../ALISS.THEME/dist/img/dummy-banner.png" class="lazy" />
        </div>
        @* Page title *@

        <section>
            <div class="aliss-grid">
                <div class="aliss-content__wrap">

                    @* Page title *@
                    <div class="aliss-content__header">
                        <h1>About ALISS</h1>
                    </div>
                    @* Page title *@

                    @* ALISS Grid primary content *@
                    <div class="aliss-content__primary aliss-typography">
                        <div class="aliss-rte aliss-typography">
                            <h2>ALISS vision</h2>
                            <p>We believe that the people of Scotland living with long term conditions, disabled people and unpaid carers should be able to access the information they need to help them live well.</p>
                            <p>
                                The ALISS (A Local Information System for Scotland) Programme is funded by the Scottish Government and delivered by the Health and Social Care Alliance Scotland (the ALLIANCE).
                            </p>
                            <p><strong>ALISS key objectives are:</strong></p>
                            <ul>
                                <li>To increase the availability of health and wellbeing information for people living with long term conditions, disabled people and unpaid carers.</li>
                                <li>To support people, communities, professionals and organisations that have information to share.</li>
                                <li>To ensure that stakeholders are informed, skilled and confident in the use and application of web services and that they are connected as part of a wider community of practice.</li>
                                <li>To ensure that ALISS is used and is strategically aligned with Scottish health and social care needs.</li>
                            </ul>
                        </div>
                    </div>
                    @* ALISS Grid primary content *@

                    @* ALISS Grid secondary content *@
                    <div class="aliss-content__secondary">

                        <div class="aliss-organism aliss-component-about-us aliss-content-spacer">
                            <h2>
                                We <span>can</span> help you find.
                            </h2>
                            <ul class="aliss-icon-list">
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Foodbanks.</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Money advice.</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Mental health support.</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Homelessness support.</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Local and national services.</li>
                            </ul>
                            <h2>
                                We <span>cannot</span> help you find.
                            </h2>
                            <ul class="aliss-icon-list">
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Volunteer roles.</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Training courses.</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Events.</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Documents.</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">General business listings.</li>
                            </ul>
                        </div>


                        <div class="aliss-organism aliss-component-master aliss-content-spacer">
                            <div class="aliss-component-master__contents">
                                <h2>
                                    Contact information
                                </h2>
                                <p>
                                    You can get in touch with us using the following details.
                                </p>
                            </div>

                            <div class="aliss-component-master__links">
                                <ul class="aliss-icon-list aliss-icon-list--100">
                                    <li class="aliss-icon-list__item aliss-icon-list__item--telephone">
                                        <a id="aliss-contact-telephone" href="tel:+441414040239" title="Click here to contact us via telephone (This will open in a new window)." target="_blank" class="classes">
                                            0141 4040239
                                        </a>
                                    </li>
                                    <li class="aliss-icon-list__item aliss-icon-list__item--email">
                                        <a id="aliss-contact-email" href="mailto:hello@aliss.org" title="Click here to contact us via email (This will open in a new window)." target="_blank" class="classes">
                                            hello@aliss.org
                                        </a>
                                    </li>
                                    <li class="aliss-icon-list__item aliss-icon-list__item--location">
                                        <a id="aliss-contact-location" href="https://maps.google.com?daddr='Health and Social Care Alliance Scotland (the ALLIANCE) Venlaw Building, 349 Bath Street, Glasgow, G2 4AA'" title="Click here to view our address on Google Maps (This will open in a new window)." target="_blank" class="classes">
                                            Health and Social Care Alliance Scotland (the ALLIANCE) Venlaw Building, 349 Bath Street, Glasgow, G2 4AA.
                                        </a>
                                    </li>
                                    <li class="aliss-icon-list__item aliss-icon-list__item--twitter">
                                        <a id="aliss-contact-twitter" href="https://twitter.com/alissprogramme" title="Click here to visit our Twitter profile (This will open in a new window)." target="_blank" class="classes">
                                            Follow us on Twitter
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @* ALISS Grid secondary content *@

                </div>
            </div>
        </section>
    </main>
</div>