@section metadata {
    <!-- Meta: SEO -->
    <title>ALISS | About ALISS.</title>
    <meta name="description" content="We believe that people of Scotland should be able to access the information they need to help them live well.">

    <meta property="og:title" content="ALISS | About ALISS.">
    <meta property="og:description" content="We believe that people of Scotland should be able to access the information they need to help them live well.">

    <meta name="twitter:title" content="ALISS | About ALISS.">
    <meta name="twitter:description" content="We believe that people of Scotland should be able to access the information they need to help them live well.">
}
<link href="~/Content/banner.css" rel="stylesheet" />



<div id="primarycontent">
    <main>

        @* Page title *@
        <div class="aliss-component-hero-banner">
            <img data-src="../../ALISS.THEME/dist/img/dummy-banner.png" class="lazy" />
        </div>
        @* Page title *@

        <section>
            <div class="aliss-grid">
                <div class="aliss-content__wrap">

                    @* Page title *@
                    <div class="aliss-content__header">
                        <h1>Beta on aliss.org</h1>
                    </div>
                    @* Page title *@

                    @* ALISS Grid primary content *@
                    <div class="aliss-content__primary aliss-typography">
                        <div class="aliss-rte aliss-typography">
                            <h2><i class="fas fa-clock"></i> Last Update 3/9/2020</h2>


                            <div class="row">
                                <div class="column">
                                    <h4>
                                        <a style="text-decoration: underline rgb(24, 132, 121);" id="" href="/Help/index" title="Click here for more information about us." target="_self" class="">
                                            1. Overview
                                        </a>
                                    </h4>
                                    <h4>
                                        <a style="text-decoration: underline rgb(24, 132, 121);" id="" href="/Help/index" title="Click here for more information about us." target="_self" class="">
                                            2. What we're doing
                                        </a>

                                    </h4>
                                </div>
                                <div class="column">
                                    <h4>
                                        <a style="text-decoration: underline rgb(24, 132, 121);" id="" href="/Help/details" title="Click here for more information about us." target="_self" class="">
                                            3. What's next?
                                        </a>
                                    </h4>
                                    <h4>
                                        <a style="text-decoration: underline rgb(24, 132, 121);" id="" href="/Help/details" title="Click here for more information about us." target="_self" class="">
                                            4. How you can help
                                        </a>

                                    </h4>
                                </div>
                              
                            </div>

                            <div class="row">

                            </div>

                            <br />
                            <p style="font-size:18px;"><strong>3. What's next</strong></p>
                            <p style="font-size:16px;">
                                We will be continually improving our website to meet users' needs. Over the next few months, we will continue to make improvements on beta.aliss.org website and eventually over time this will become the default website for ALISS.  Some new designs and features will also start to appear around more complex functionality - such as creating & claiming organisations and services

                            </p>
                            <br />
                            <p style="font-size:18px;"><strong>4. How you can help</strong></p>
                            <p  style="font-size:16px;">
                                By providing us with feedback – good or bad – you can help us build a better website.
                                We’re designing this new site with users in mind so it’s important that we know what you think. Please let us know by taking part in our hotjar survey which can be accessed through Give Feedback, which is available on the header of every web page or simply email

                                <a href="mailto:hello@aliss.org?subject=aliss beta" title="Send a message to us" target="_blank" class="">hello@aliss.org</a>
                                




                            </p>
                            <div class="row" id="menuHelp">
                                <div class="columnMenu">

                                    <a style="text-decoration: underline rgb(24, 132, 121);" id="" href="/Help/index" title="Click here for more information about us." target="_self" class="">
                                       Previous Page
                                    </a>


                                </div>

                            </div>

                        </div>
                    </div>
                    @* ALISS Grid primary content *@

                    @* ALISS Grid secondary content *@
                    <div class="aliss-content__secondary">

                        <div class="aliss-organism aliss-component-about-us aliss-content-spacer">
                            <h2 style="text-align:center;">
                                On this<span> version </span>
                            </h2>
                            <h2>
                                <span>Can</span> be done:
                            </h2>
                            <ul class="aliss-icon-list">

                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Login / Signup (External link to current site).</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Give feedback (External link to bespoke feedback form).</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Home / Search.</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Service search results.</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Single service page(s).</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Single organisation page(s).</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">About us</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">News (External link).</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-tick">Add an organisation (External link to current site).</li>
                            </ul>
                            <h2>
                                <span>Can not</span> be done:
                            </h2>
                            <ul class="aliss-icon-list">
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Add an organisation</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Editing Service page(s):</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Actions panel</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Editing locations & service areas</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Editing Organisation page(s):</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Action Panels</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Editing Locations</li>
                                <li class="aliss-icon-list__item aliss-icon-list__item--circle-cross">Editing Services</li>
                            </ul>
                        </div>


                        <div class="aliss-organism aliss-component-master aliss-content-spacer">
                            <div class="aliss-component-master__contents">
                                <h2>
                                    Contact information
                                </h2>
                                <p>
                                    You can get in touch with us using the following details.
                                </p>
                            </div>

                            <div class="aliss-component-master__links">
                                <ul class="aliss-icon-list aliss-icon-list--100">
                                    <li class="aliss-icon-list__item aliss-icon-list__item--telephone">
                                        <a id="aliss-contact-telephone" href="tel:+441414040239" title="Click here to contact us via telephone (This will open in a new window)." target="_blank" class="classes">
                                            0141 4040239
                                        </a>
                                    </li>
                                    <li class="aliss-icon-list__item aliss-icon-list__item--email">
                                        <a id="aliss-contact-email" href="mailto:hello@aliss.org" title="Click here to contact us via email (This will open in a new window)." target="_blank" class="classes">
                                            hello@aliss.org
                                        </a>
                                    </li>
                                    <li class="aliss-icon-list__item aliss-icon-list__item--location">
                                        <a id="aliss-contact-location" href="https://maps.google.com?daddr='Health and Social Care Alliance Scotland (the ALLIANCE) Venlaw Building, 349 Bath Street, Glasgow, G2 4AA'" title="Click here to view our address on Google Maps (This will open in a new window)." target="_blank" class="classes">
                                            Health and Social Care Alliance Scotland (the ALLIANCE) Venlaw Building, 349 Bath Street, Glasgow, G2 4AA.
                                        </a>
                                    </li>
                                    <li class="aliss-icon-list__item aliss-icon-list__item--twitter">
                                        <a id="aliss-contact-twitter" href="https://twitter.com/alissprogramme" title="Click here to visit our Twitter profile (This will open in a new window)." target="_blank" class="classes">
                                            Follow us on Twitter
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @* ALISS Grid secondary content *@

                </div>
            </div>
        </section>
    </main>
</div>
